<!-- 
<div>{{ appState$ | async | json }}</div>  -->

<div class="container">
  <div class="container-x1">
    <div class="table-responsive">
     <div class="table-wrapper">
      <div class="table-title">
        <div class="row" style="background-color: midnightblue;">
          <div class="col-sm-6">
            <h2 class="text-light">Manage Servers</h2>
          </div>
          <div class="col-sm-6">
            <span>
              <select (ngModelChange)="filterServers($event)" ngMode="ALL" name="status" id="" class="btn btn-info" style="height: 32.91px">
                <option value="ALL">ALL</option>
                <option value="SERVER_UP">SERVER UP</option>
                <option value="SERVER_DAWN">SERVER DOWN</option>
              </select>
            </span> &nbsp;&nbsp;
            <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
              <i class="bi bi-plus-circle-fill"></i>
              <span>New Server</span>
            </button> -->
            
            <a href="#addEmployeeModal" class="btn btn-success"       data-toggle="modal">
              <i class="bi bi-plus-circle-fill"></i>
              <span>New Server</span>
            </a> 
            <br>
            
            <button (click)="printReport()" type="button" class="btn btn-primary">Print Report <span>
              <em>
                <small>(excel)</small>
                </em
                ></span></button>
            &nbsp;&nbsp;
            <button (click)="printReportpdf()" type="button" class="btn btn-primary">Print Report <span>
              <em>
                <small>(pdf)</small>
                </em
                ></span></button>

          </div>
        </div> <br>
        <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
          <ng-container *ngSwitchCase="DataState.LOADING_STATE">
            <div class="col-md-12 sigle-note-item text-center">
              <div class="spinner-border text-info" role="stat"></div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="DataState.LOADED_STATE">
            <table class="table table-stiped table-hover" id="servers">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>IP Address</th>
                  <th>Name</th>
                  <th>Memory</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Ping</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody *ngFor="let server of appState.appData.data.servers; let i = index">
                <tr>
                  <!-- <td>No:{{i}}</td> -->
                  <td><img [src]="server.imageUrl" [alt]="server.name" width="40" height="40"></td>
                  <td>{{server.ipAddress}}</td>
                  <td>{{server.name}}</td>
                  <td>{{server.memory}}</td>
                  <td>{{server.type}}</td>
                  <td>
                    <span [ngClass]="[server.status === Status.SERVER_UP ? ' text-success' : ' text-danger']"> 
                      {{ server.status === Status.SERVER_UP ? 'SERVER UP' : 'SERVER DOWN' }}
                    </span>
                  </td>
                  <td>
                    <a (click)="pingServer(server.ipAddress)" style="cursor: pointer">
                      <i *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.ipAddress" class="material-icons" title="Ping server">&#xe328;</i>
                      <i *ngIf="(filterStatus$ | async) === server.ipAddress" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                    </a>
                  </td>
                  <!-- <td>
                    <a (click)="deleteServer(server)" class="delete" data-toggle="modal" style="cursor: pointer">
                      <i class="bi bi-trash-fill"></i>
                  </a>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-container *ngSwitchCase="DataState.ERROR_STATE">
            <div class="bg-danger text-light alert-danger">
              {{appState.error}}
            </div>
          </ng-container> 
      </ng-container>
      </div>
     </div>
    </div>
  </div>
</div>

<div id="addEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
        <div class="modal-header">
          <h4 class="modal-title">Add Server</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          
          <div class="form-outline mb-4">
            <input type="text" id="form3Example1cg"ngModel name="ipAddress" class="form-control form-control-lg" />
            <label class="form-label" for="form3Example1cg">IP</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="form3Example1cg"ngModel name="name" class="form-control form-control-lg" />
            <label class="form-label" for="form3Example1cg">Name</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="form3Example1cg"ngModel name="memory" class="form-control form-control-lg" />
            <label class="form-label" for="form3Example1cg">Memory</label>
          </div>

           <div class="form-outline mb-4">
            <input type="text" id="form3Example1cg"ngModel name="type" class="form-control form-control-lg" />
            <label class="form-label" for="form3Example1cg">Type</label>
          </div>

          <div class="form-outline mb-4">
            <select ngModel="SERVER_DAWN" name="status" id="" class="form-control form-control-lg">
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_DAWN">SERVER DOWN</option>
            </select>
          </div>

          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="closeModal" data-dismiss="modal" aria-hidden="true">Cancel</button>

          <button type="submit" class="btn btn-success" [disabled]="serverForm.invalid || (isLoading$ | async)">
            <div *ngIf="isLoading$ | async" class="spinner-grow text-primary" role="status"></div>
            <span *ngIf="!(isLoading$ | async)" class="sr-only">Saving...</span>
            <span>Add</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <h2 style="text-align: center;">Add Server</h2>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

                  <form style="margin-left: 5%; margin-right: 5%;" #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">

                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example1cg"ngModel name="ipAddress" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1cg">IP</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example3cg" ngModel name="name" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example3cg">Name</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example4cg" ngModel name="memory" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example4cg">Memory</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example4cdg" ngModel name="type" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example4cdg">Type</label>
                    </div>

                   <div class="form-group">
                    <select ngModel="SERVER_DAWN" name="status" id="" class="form-control">
                      <option value="SERVER_DAWN">SERVER DOWN</option>
                      <option value="SERVER_UP">SERVER UP</option>
                    </select>
                    <label for="">Status</label>
                   </div>

                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                      <label class="form-check-label" for="form2Example3g">
                        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                      </label>
                    </div>

                    <div class="d-flex justify-content-center">
                      <button type="button"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                        class="fw-bold text-body"><u>Login here</u></a></p>

                  </form>
      <div class="modal-body">
        Modal body text goes here.
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
